<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FluentAdo.SqlServerCe.Tests.Properties.Settings.TestDBConnectionString"
            connectionString="Data Source=|DataDirectory|\TestDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>