





















































































    
    
    






















































































<configuration>
    <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	    <dependentAssembly>
		<assemblyIdentity name="iAnywhere.Data.UltraLite"
			publicKeyToken="ff11483eb5a8c1a5"
			culture="neutral"
		    />
		<bindingRedirect oldVersion="10.0.0.0-10.0.1.3673"
			newVersion="10.0.1.3673"
		    />
	    </dependentAssembly>
	</assemblyBinding>
    </runtime>
</configuration>
